body{
    font-family: 'Tangerine', sans-serif;
    background-color: lightgrey;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;


}
#nav_bar{
    margin-bottom: 0px;
    padding: 0px;
    background-color: royalblue;
    border:none;
}

#nav_list > li> a{
    color: #D3DDDC;

}

#logo{
    max-height: 45px;
    margin-top: -13px;

}


#colheaderText{
padding-top: 100px;
    color:white;
    font-size: 50px;
}



#colsubheaderText{

    color:lightgrey;
    font-size: 30px;
}

#cityDiv{
    width: 40%;
    margin:auto;
    text-align: center;
}

#visualsButton{

    margin:auto;
    text-align: center;

}
#goToVisuals{
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    border:none;
    background-color: aliceblue;

    padding:20px 40px;
    color: darkslategray;
}
#submitCity{
    margin-top: 10px;
    border-radius: 5px;
    border:none;
    background-color: #456355;

    padding:5px 10px;
    color: #C6B19D
}

#searchText{
    color:#456355;;

}

canvas {
    position: relative;
    padding: 10px;
    text-align: center;
}

.jumbotron{
    margin-bottom:0px; 
    background-color: royalblue; 
    color:white;
    padding-bottom: 10px;
}



#visual{
    padding-top: 10px;
}

p{
    padding-top: 25px;
    padding-left: 0vw;
    padding-right: 0vw;

    color:white;
}

#textbox{
vertical-align:middle;
    color:darkslategray;
}
#visualizeBtn{
     margin-top: 20px;
font-size : 20px;
    padding:10px 10px;
         
    border-radius: 5px;
    border:none;
    background-color: aliceblue;

    color: darkslategray;
}



header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: blue;
  opacity: 0.2;
  z-index: 1;
}



@media screen and (max-width: 620px) {
  p {
display:none;
    }
}